<form [formGroup]="form" (submit)="addRecipe()">
    <label>שם המתכון:</label><br>
    <input type="text" formControlName="name" /><br><br>
    <!-- <label>תמונה:</label><br>
    <input type="text" formControlName="img" /><br><br> -->
    <label>זמן ההכנה:</label><br>
    <input type="text" formControlName="during" /><br><br>
    <div *ngIf="formAltaControls.during?.errors?.min || formAltaControls.during?.errors?.max">חובה מספר חיובי</div>
    <label>רמת קושי:</label><br>
    <input type="text" formControlName="level" /><br><br>
    <div *ngIf="formAltaControls.level?.errors?.min || formAltaControls.level?.errors?.max">חובה מספר חיובי קטן מ-10</div>
    <label>מזהה לקוח יוצר:</label><br>
    <input type="text" formControlName="create_clientID" /><br><br>
    <div formArrayName="products">
        <div *ngFor="let p of products.controls; let i=index">
            <div [formGroupName]="i">
                <label>מספר מוצר:</label>
                <input formControlName="product_id"/>&nbsp;
                <label>שם מוצר:</label>
                <input formControlName="name"/>&nbsp;
                <label>כמות:</label>
                <input formControlName="count"/>&nbsp;
                <label>סוג כמות:</label>
                <input formControlName="type"/>&nbsp;
                <label>יש בבית:</label>
                <input formControlName="did_buy" placeholder="0  =  שקר"/>&nbsp;
            </div><br>
        </div>
    </div>
    <input type="button" value="הוספת מוצר" (click)="addProduct()"/><br><br>
    <div formArrayName="instructions">
        <div *ngFor="let p of instructions.controls; let i=index">
            <div [formGroupName]="i">
                <label>הוראה:</label><br>
                <input type="text" formControlName="instructions" />
             </div>
         </div>
     </div>
    <input type="button" value="הוסף הוראה" (click)="addInstruction()"><br><br>
    <!-- <button type="submit" >הוספת מתכון</button> -->
    <button type="submit" [disabled]="!form.valid">הוספת מתכון</button>
</form>

 <!-- public id?:number,
public name?:string,
public img?:string,
public instructions?:string[],
public products?: Product[],
public during?:number,
public level?:number,
public create_clientID?:number -->