<h1 [ngStyle]="{ 'color': '#c24b7e', 'font-size': '60px', 'text-align': 'center'}">אודות</h1>
<p><strong>!!ברוכים הבאים לאתר שלנו</strong></p>
<p id="color"> <strong>לפני הכל! טעימה מהאתר שלנו כי תמונה אחת שווה יותר מאלף מילים</strong></p>
<video id="video" controls="controls">
    <source src="../../assets/video/אתר (1).mp4" type="video/mp4">
</video>
<br>
<br>
<br>
<pre>
    .נסו לחשוב כמה זמן ביום אתם מקדישים רק להתעסקות באוכל
    :חשיבה על אוכל
    .מה לאכול, מתי לאכול, האם כדאי לאכול. אחרי שכבר מצאנו מה לאכול- האם להכין, ואיך להכין
   :עשייה בנוגע לאוכל
   .'אחרי שכבר החלטנו להכין - אז יש לנו את זמן הכנת האוכל, סידור הבלאגן שעשינו במטבח, הדחת כלים וכו
    !וכל זה בשביל להגיע לתכלס שהוא האכילה עצמה שבממוצע לוקחת רק כ-10 דקות
    אז נכון שהפתרון הכי קל זה להזמין אוכל מוכן או לקנות אוכל מעובד (ואז בזבזנו זמן רק על חשיבה) 
    .אבל זה לא בהכרח הפתרון הטוב והבריא שכן אין כמו אוכל שמכינים אותו בבית
    כל דבר שתכינו בבית, גם אם לדעתכם הוא "משמין" או פחות בריא,
    .יהיה עדיף מאוכל מעובד שתקנו בחוץ
    אנחנו רוצים לאכול אוכל טרי, ללא חומרים משמרים, 
    .אוכל שאנחנו הכנו בעצמנו ושאנו יודעים בדיוק ממה הוא מורכב וכיצד הוכן
    .ואין שום ספק שאנחנו רוצים את אותו הדבר (אם לא יותר) עבור ילדינו</pre>
       <p>
           <strong>
               מסיבה זאת הוקם אתר "מתכונים בכיף" בו ניתן למצוא מתכונים שמתאימים לכל אחד<br />
               .ושכל אחד יכול להכין, מתכונים שזמן הכנתם הינו עד 10 דקות עבודה<br />
           </strong>
       </p>      
   
       <pre>
    נציין כי זמן זה אינו כולל זמן אפייה בתנור או בישול על הגז במידה שיש צורך בכך   
    אך בשלב זה איננו נדרשים לעשות דבר. רק להמתין שהאוכל יהיה מוכן
    אז קיצרנו את זמן החשיבה (באתר ניתן למצוא רעיונות למתכונים)
    .וחסכנו בזמן ההכנה עצמה (מתכונים קלים ומהירים)
    .מקוות שהאתר יהיה שימושי ויעיל גם עבורכם
    </pre>
       <!-- <p><strong>  לבריאות,המון הצלחה והנאה!!!</strong></p> -->
       <p><strong>!!!לבריאות, המון הצלחה והנאה</strong></p><br /><br />