/*עיצוב לפסקאות */
    p {
        font-size: 30px;
        font-family: Arial;
        color: #c24b7e;
        font-size: xx-large;
        text-align: center;
    }
    #color{
        color: black;
    }
    /* עיצוב לוידאו */
#video{
    width: 37%;
    height: auto;
    position: relative;
    right: 30%;
    margin-left: 61vw;
}

/* עיצוב למלל */
pre{
    text-align: center;
    font-size: xx-large;
}
