<form [formGroup]="form" (submit)="addClientAndOpenDialog()">
        <h1>כניסה למערכת</h1>
        <div class="wrapper">
        <div class="detail">
        <label class="det-label">*מזהה לקוח:</label>
        <input type="text" formControlName="id" class="det-input"/><br><br>
        </div>
        <div class="detail">
        <label class="det-label">*שם לקוח:</label>
        <input type="text" formControlName="name" class="det-input"/><br><br>
        </div>
        <div class="detail">
        <label class="det-label">טלפון:</label>
        <input type="text" formControlName="phone" class="det-input"/><br><br>
        </div>
        <div class="detail">
        <label class="det-label">דרך ליצירת קשר:</label>
        <input type="text" formControlName="contactMethod" class="det-input"/><br><br>
        </div>
        <div class="detail">
        <label class="det-label">*סיסמא:</label>
        <input type="password" formControlName="password" class="det-input"/><br><br>
        </div> 
        <!-- הוספתי בכוונה כך שיהיה סמטרי ויפה גם בשורה האחרונה אם לא יהיה לי 3 אלמנטים בשורה האחרונה -->
        <div class="detail"></div>
        </div>
        <p class="p1">*מציין שדות חובה</p>
        <br><br>
        <button type="submit" class="btn" [disabled]="form.invalid">Submit</button>
</form>

<!-- הגדרת הדיאלוג -->
<!-- <ng-template #dialogContent>
        <p class="p_dialog">ברוכה הבאה 🎉🎉🎉</p>
         <button mat-button mat-dialog-close (click)="closeDialog()">Close</button>
</ng-template> -->
<ng-template #dialogContent>
        <p class="p_dialog">ברוכה הבאה 🎉🎉🎉</p>
         <button mat-button mat-dialog-close class="dialog-button" (click)="closeDialog()">Close</button>
 </ng-template>    