/* *{
    direction: rtl;
    height: 100%;
    width: unset;
    text-align: center;  
}
.pic{
    height: 25vh;
    width: 15vw;
} */

/* .div1{
    display: flex;
  justify-content: space-between;
} */
/* .all{
    
    justify-content: space-around;
  display: flex;
} */