.header{
    border-color: black;
    background-color: black;
    flex-grow: 0;
    flex-shrink: 0;
}

/* עיצוב למאין*/
.main {
    flex-grow: 1; /* Allow main content to grow and fill available space */
}

/* עיצוב לפוטר */
.footer{
    background-color: black;
    flex-grow: 0;
    flex-shrink: 0;
}



  