/* עיצוב כללי לדף */
*{
    direction: rtl;
    text-align: center;
}
/* עיצוב כללי לטבלה */
table{
    border: 2px solid #c24b7e;
    border-collapse: collapse;
    width: 80vw;
    height: 50vh;
    margin: auto;
}
/* עיצוב כללי לשורה */
tr{
    text-align: center;
}
/* עיצוב תוכן עמדות ושורת */
th,td{
    text-align: center;
    font-family: Art;
    font-size: 35px;
    padding: 8px;
    color: #292c33;
    border: 2px solid #c24b7e;
}
/* עיצוב כותרות העמודות */
th{
    color: #c24b7e !important;
}
/* עיצוב בעת מעבר על השורות */
tr:hover{
    background-color: rgba(255, 0, 220, 0.20);
}
/* עיצוב לכותרת */
h1{
background-color: #c24b7e;
color: white;
font-size: 35px;
font-family: Art;
}
td:first-child{
    color: #c24b7e;
}