<h1>מדריך כמויות</h1>
<table>
    <tr>
        <thead>
        <th></th>
        <th>קמח/אבקות</th>
        <th>סוכר</th>
        <th>דבש(כולל סירופ)</th>
        <th>חמאה</th>
        <th>שמרים</th>
        <th>מלח</th>
    </thead>
    </tr>
    <tr>
        <td>כוס</td>
        <td>100 גרם</td>
        <td>240 גרם</td>
        <td>340 גרם</td>
        <td>240 גרם</td>
        <td>---</td>
        <td>288 גרם</td>
    </tr>
    <tr>
        <td>כפית</td>
        <td>3 גרם</td>
        <td>5 גרם</td>
        <td>7 גרם</td>
        <td>---</td>
        <td>34 גרם</td>
        <td>6 גרם</td>
    </tr>
    <tr>
        <td>כף</td>
        <td>6 גרם</td>
        <td>15 גרם</td>
        <td>21 גרם</td>
        <td>15 גרם</td>
        <td>50 גרם</td>
        <td>20 גרם</td>
    </tr>
    <tr>
        <td>הערות</td>
        <td>---</td>
        <td>7 גרם=כפית סוכר</td>
        <td>100 גרם= 1/3כוס פחות שתי כפיות</td>
        <td>7 גרם=כף מומסת</td>
        <td>שקית שמרית=1 קובייה שמרים טריים</td>
        <td>שליש כוס=100 גרם</td>
    </tr>
</table>
